{% extends 'layout.html' %}
{% block content %}
<div class="content-container">
    <!-- end of .nav -->
    <span id="flash"></span>
	<div class="header">
		<h2 class="left-align">Menu</h2>
		<a class="link-btn left-align button-primary" href="{{ url_for('create_menu') }}"><i class="fas fa-plus"></i> New</a>
	</div>
	<hr>
	<div style="overflow-x:auto;">
		<table id="food_menu">
			<tr>
				<th>#</th>
				<th>Order Name</th>
				<th>Price</th>
				<th>Description</th>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}