{% extends 'layout.html' %}
{% block content %} 	
	<div class="content-container">


	    <!-- end of .nav -->
      <span id="flash"></span>
      <div class="header">
				<h2 class="left-align">Approve Orders</h2>
				<a class="link-btn left-align button-primary" href="orders.html">Back</a>
			</div>
				<hr>
            <table id="all_orders">
              <tr>
                <th>#</th>
                <th>Order Name</th>
                <th>Ordered By</th>
                <th>Address</th>
                <th>quatity</th>
                <th>status</th>
                <th></th>
              </tr>
            </table>
	</div>
{% endblock %}