{% extends 'layout.html' %}
{% block content %}
	<div class="content-container">


	    <!-- end of .nav -->
			<h2>Create Food Item</h2>
			<hr>
			<!-- <span id="flash"></span> -->
			<form  onsubmit="event.preventDefault();">


			  <div class="form-container">
			  	<div>
			  		<label for="name"><b>Food name</b><br></label>
			    	<input class="form-control" type="text" placeholder="Food Name..." id="name" required>
			  	</div>

				<div>
					<label for="price"><b>Price</b><br></label>
					<input class="form-control" type="number"  min="1" placeholder="Order Price in Dollars..." id="price" required>
				</div>

				<div>
					<label for="image"><b>Image Url</b><br></label>
					<input class="form-control" type="text" placeholder="Enter Image URL here..." id="image" required>
				</div>

				<div>
					<label for="description"><b>Description</b><br></label>
					<textarea class="form-control" rows="5" placeholder="Order Description..." id="description" required></textarea>
				</div>

			     <div>
			     	<button class="button button-primary"  id="submit" onclick="createMenu();">Create</button>
			     </div>

			  </div>
			</form>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}