{% extends 'layout.html' %}
{% block content %}
	<div class="content-container">


	    <!-- end of .nav -->
			<h2>Create Food Item</h2>
			<hr>
			<!-- <span id="flash"></span> -->
			<form  onsubmit="event.preventDefault();">


			  <div class="form-container">
			  	<div>
			  		<label for="order"><b>Food name</b><br></label>
			    	<select class="form-control" id="order_menu">
					</select>
			  	</div>

				<div>
					<label for="quantity"><b>Quantity</b><br></label>
					<input class="form-control" type="number" min="1" placeholder="Quantity" id="quantity" required>
				</div>

				<div>
					<label for="address"><b>Address</b><br></label>
					<input class="form-control" type="text" placeholder="Address" id="address" required>
				</div>

			     <div>
			     	<button class="button button-primary" id="submit"  onclick="createOrder();">Order</button>
			     </div>

			  </div>
			</form>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/create_order.js') }}"></script>
{% endblock %}