{% extends 'layout.html' %}
{% block content %}	
	<div class="content-container">
		<!-- <span id="flash"></span> -->
	    <!-- end of .nav -->
			<h2>Edit Food Item</h2>
			<hr>
			<form action="#" method="POST">


			  <div class="form-container">
			  	<div>
			  		<label for="order"><b>Order</b><br></label>
			    	<input class="form-control" type="email" placeholder="Order Name..." name="order" required>
			  	</div>

				<div>
					<label for="price"><b>Price</b><br></label>
					<input class="form-control" type="text" placeholder="Order Price in Dollars..." name="price" required>
				</div>

				<div>
					<label for="dscription"><b>Description</b><br></label>
					<textarea class="form-control" rows="5" placeholder="Order Description..." name="description" required></textarea>
				</div>

			     <div>
			     	<button class="button button-primary" type="submit">Update</button>
			     </div>

			  </div>
			</form>
	</div>
{% endblock %}