<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/forms.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	{% if title %}
        <title>Fast Food - {{ title }}</title>
    {% else %}
        <title>Fast Food</title>
    {% endif %}
	<style type="text/css">
		body {
		    background-image: url(/static/images/8.jpg);
		    background-size: cover;
		    color: white;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    opacity: 0.95;
		  }
	</style>
</head>
<body>
	<nav class="topnav" id="myTopnav">
		  <a class="active" href="{{ url_for('home') }}"><i class="fas fa-utensils"></i>  Fast-Food</a>
		  <a href="{{ url_for('user_orders') }}">History</a>
		  <a href="{{ url_for('admin_index') }}">Menu</a>
		  <a href="{{ url_for('orders_list') }}">Orders</a>
		  <!-- <div class="float-links-right"> -->
			  <a href="{{ url_for('login') }}">Login</a>
			  <a href="{{ url_for('register') }}">Register</a>
			  <a id="logout" href="javascript:void(0);" onclick="logout();">Logout</a>
		  <!-- </div> -->
		  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
		    <i class="fa fa-bars"></i>
		  </a>
	</nav>
	<div class="alert" id="flash">
	  // <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
	  <!-- <strong>Danger!</strong> Indicates a dangerous or potentially negative action. -->
	</div>
	<!-- end of alert message -->
	  {% block content %} {% endblock %}
	<footer>
		<p>Developed by Developer-X copyright 2018.</p>
	</footer>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
