{% extends 'layout.html' %}
{% block content %}

<div class="content-container">
  <span id="flash"></span>
	    <!-- end of .nav -->
			<h2>My Orders</h2>
			<hr>
      <span id="flash"></span>
      <table id="user_orders">
          <tr>
            <th>#</th>
            <th>Order Name</th>
            <th>Ordered By</th>
            <th>Address</th>
            <th>Quantitiy</th>
            <th>Status</th>
            <th></th>
          </tr>
        </table>
	</div>
 <script type="text/javascript" src="{{ url_for('static', filename='js/user_orders.js') }}"></script>
  {% endblock %}