{% extends 'layout.html' %}
{% block content %}

<div class="content-container">
	    <!-- end of .nav -->
			<h2>My Orders</h2>
			<hr>
      <table>
          <tr>
            <th>#</th>
            <th>Order Name</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Pizza</td>
            <td>$299</td>
          </tr>
					<tr>
            <td>2</td>
            <td>Chicken</td>
            <td>$299</td>
          </tr>
					<tr>
            <td>3</td>
            <td>Beef</td>
            <td>$299</td>
          </tr>
					<tr>
            <td>4</td>
            <td>Pizza</td>
            <td>$999</td>
          </tr>
        </table>
	</div>

  {% endblock %}