{% extends 'layout.html' %}
{% block content %}

<div class="content-container">
  <span id="flash"></span>
	    <!-- end of .nav -->
			<h2>My Orders</h2>
			<hr>
      <span id="flash"></span>
      <form onsubmit="event.preventDefault();">
          <div>
            <input type="number" placeholder="Enter your id" id="user_id" style="padding: 6px;width: 30%;font-size: 18px; border-radius: 5px;" required>
            <button class="link-btn left-align button-primary" id="submit" onclick="userOrders();">Send</button>
          </div>
      </form>
      <div style="overflow-x:auto;">
        <table id="user_orders">
          <tr>
            <th>#</th>
            <th>Order Name</th>
            <th>Ordered By</th>
            <th>Address</th>
            <th>Quantitiy</th>
            <th>Status</th>
          </tr>
        </table>
      </div>
      
	</div>
 <script type="text/javascript" src="{{ url_for('static', filename='js/user_orders.js') }}"></script>
  {% endblock %}